:root {
  --primary-bg: #242526;
  --secondary-bg:#FFFFFF;
  --border-color: #E4E5EB;
  --primary-text-color: #001F80;
  --background-color: #E8EDFC;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;
  background-color: var(--primary-bg);
}

.kode {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
}

.trigger{
  padding: 0;
  outline: none;
  border: none;
background: none;
  position: absolute;
width: 69px;
height: 40px;
left: 923px;
top: 144px;
padding: 13px 16px;
font-family: 'Switzer Variable';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
color: var(--primary-text-color);
  overflow: hidden;
  cursor: pointer;
background-color: var(--background-color);
}

.dropdown-page{
  display: flex;
flex-direction: row;
align-items: flex-start;
  position: absolute;
  box-sizing: border-box;
  padding: 40px 32px 32px;
position: absolute;
width: 384px;
height: 882px;
left: 1056px;
top: 80px;
background-color: var(--secondary-bg);
border-left: 1px solid var(--background-color);
}


.dropdown-page.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-page.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


.dropdownItem{
margin: 0;
}
